@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes color {
  0%   { background: #f9faf5; }
  20%  { background: #33b5cc; }
  40%  { background: #B8CC33; }
  60%  { background: #ffffff; }
  80%  { background: #cc33b8; }
  100% { background: #33CCCC; }
}

body {
  animation: color 9s infinite linear;
}


.main {
  width: 400px;
  height: 175px;
  margin: 300px auto;
  position: relative;
  padding: 30px;
}

.main::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  z-index: -1;
  
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgba(148,187,233,1) 100%);
  z-index: -2;
  filter: blur(40px);
}

.badge {
  width: 170px;
  background: #e66357;
  color: white;
  padding: 5px 30px;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 30%;
}
.badge-item {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}


.clock {
  background: #EBEBEB;
  text-align: center;
  font-size: 55px;
  height: 100%;
  padding-top: 25px;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
}

